extends ../../layouts/default.pug

block main 

    h1(class="mb-5") Chỉnh sửa nhóm quyền

    form(
        action=`${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                id="title"
                type="text"
                class="form-control"
                name="title"
                value=data.title
                require
            ) 
        div(class="form-group")
            label(for="desc") Mô tả
            input(
                type="text"
                id="desc"
                class="form-control"
                name="description"
                value=data.description
            ) 
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật