extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
     
    h1(class="mb-5") Thêm mới tài khoản
    +alert-error(3000) 
    
    form(
        action=`${prefixAdmin}/accounts/create`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(
                id="fullName"
                type="text"
                class="form-control"
                name="fullName"
                require
            ) 
        div(class="form-group")
            label(for="email") Email *
            input(
                id="email"
                type="text"
                class="form-control"
                name="email"
                require
            )
        div(class="form-group")
            label(for="password") Mật khẩu *
            input(
                id="password"
                type="password"
                class="form-control"
                name="password"
                require
            )
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                id="phone"
                type="text"
                class="form-control"
                name="phone"
            ) 
        div(
            class="form-group"
            upload-image
            )
            label(for="avatar") Avatar
            input(
                id="avatar"
                type="file"
                class="form-control-file"
                name="avatar"
                accept="image/*"
                upload-image-input
            ) 
        div(class="form-group")
            label(for="role_id") Phân quyền
            select(name="role_id" id="role_id" class="form-control")
                option(disable) -- Chọn --
                each item in roles
                    option(value=item.id) #{item.title}

        div(class="form-group form-check form-check-inline")
            input(
                id="statusActive"
                type="radio"
                class="form-check-input"
                name="status"
                value="active"
                checked
            ) 
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                id="statusInActive"
                type="radio"
                class="form-check-input"
                name="status"
                value="inactive"
            ) 
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới