extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    h1(class="mb-5") Chỉnh sửa thông tin 
    
    form(
        action=`${prefixAdmin}/my-account/edit?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(
                id="fullName"
                type="text"
                class="form-control"
                name="fullName"
                value=user.fullName
            ) 
        div(class="form-group")
            label(for="email") Email *
            input(
                id="email"
                type="text"
                class="form-control"
                name="email"
                value=user.email
            )
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                id="phone"
                type="number"
                class="form-control"
                name="phone"
                value=user.phone
            )
        div(class="form-group")
            label(for="password") Mật khẩu
            input(
                id="password"
                type="text"
                class="form-control"
                name="password"
                value=user.password
            )
        div(
            class="form-group"
            upload-image
            )
            label(for="avatar") Hình ảnh
            input(
                id="avatar"
                type="file"
                class="form-control-file"
                name="avatar"
                accept="image/*"
                upload-image-input
            ) 
            img(
                src=user.avatar
                upload-image-preview
                class="image-preview mt-3"
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật